<div class="container-fluid">
 	<div class="row-fluid">
		<div class="col-xs-offset-1 col-xs-10">
			<div
				ng-if="uiConfig"
				calendar="myCalendar"
				ui-calendar="uiConfig.calendar"
				ng-model="eventSources" >
			</div>
        	<span class="label label-info">En espera</span>
    	    <span class="label label-success">Aprobado</span>
    		<span class="label label-danger">Rechazado</span>
		</div>
	</div>

	<script type="text/ng-template" id="tooltipTemplate.html">
		<div class="container-fluid tooltip-widget">
		    <!-- <h4>Entrevista para el cargo</h4> -->
		    <h3>{{selectedEvent.originalEvent.jobtitle}}</h3>
		    <p>Fecha: {{selectedEvent.originalEvent.date | date: 'dd-MM-yyyy'}}</p>
		    <p>Quienes asisten:</p>
		    <ul>
		    	<li ng-repeat="applicant in selectedEvent.originalEvent.applicants">{{applicant.name}} {{applicant.lastName}}</li>
		    </ul>
		</div>
	</script>	
</div>

