<div class="newEvent">

	<div class="modal-header">
		 <button
		 	type="button"
		 	ng-click="event.close()"
		 	class="close"
		 	data-dismiss="modal"
		 	aria-label="Close"><span aria-hidden="true">&times;</span>
		 </button>
	    <h3 class="modal-title">{{(event.data.token && event.diff)? 'Nueva cita' : 'Cita'}} - {{event.data.date | date: 'dd-MM-yyyy'}}</h3>
	    <button
	    	ng-if ="event.data.token && event.diff"
	    	type="button"
	    	class="pull-right btn btn-danger"
	    	ng-click="event.removeEvent()">Anular Cita
	    </button>
	</div>

	<div class="modal-body">
		<div class="container-fluid">
			<h4>Entrevista para el Cargo</h4>
			<h4><strong>{{event.data.jobtitle}}</strong></h4>
			<form  class="form-horizontal" role="form">
				<div class="form-group" ng-if="event.diff">
					<div class="col-xs-4">
						<label for="" class="control-label">Hora inicio</label>
						<div
							uib-timepicker
							ng-model="event.data.start"
							hour-step="1"
							minute-step="1"
							show-meridian="false">
						</div>
					</div>
					<div class="col-xs-4">
						<label for="" class="control-label">Hora término</label>
						<div
							uib-timepicker
							ng-model="event.data.end"
							hour-step="1"
							minute-step="1"
							show-meridian="false">
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="!event.diff">
					<div class="col-xs-4">
						<label for="" class="control-label">Hora inicio {{event.data.start.format('HH:mm')}}</label>
					</div>
					<div class="col-xs-4">
						<label for="" class="control-label">Hora término {{event.data.end.format('HH:mm')}}</label>
					</div>
				</div>
				<div class="form-group">
				    <div class="row-fluid">
					    <div class="col-xs-6">
					      <label for="" class="control-label">Entrevistador</label>
					      <input
						      type="text"
						      ng-model="event.data.interviewer"
						      class="form-control"
						      id=""
						      ng-disabled="!event.diff">
					    </div>
					    <div class="col-xs-6">
					      <label for="" class="control-label">Email</label>
					      <input
					      	type="email"
					      	ng-model="event.data.interviewerEmail"
					      	class="form-control"
					      	id=""
					      	ng-disabled="!event.diff">
					    </div>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
					    <label>
					      <input
					      	ng-model="event.data.sendBackupMail"
					      	type="checkbox"
					      	ng-disabled="!event.diff"> Enviar correo de respaldo al entrevistador
					    </label>
					</div>
				</div>
				<hr>
				<div class="form-group">
				    <label for="" class="control-label">Quienes asisten</label>
				    <p></p>
				    <p>Jorge Vergara <a href="">Ver curriculum</a></p>
				    <p>Tatiana Lobos <a href="">Ver curriculum</a></p>
				</div>
				<hr>
				<div class="form-group">
				    <label for="" class="col-xs-3 control-label">Lugar</label>
				    <div class="col-xs-9">
				      <input
				      	type="text"
				      	ng-model="event.data.locationInterview"
				      	class="form-control"
				      	id=""
				      	ng-disabled="!event.diff">
				    </div>
				</div>
				<div class="form-group">
				    <label for="" class="col-xs-3 control-label">Comentario para el candidato (opcional)</label>
				    <div class="col-xs-9">
				      <textarea
				      	rows="3"
				      	cols="50"
				      	class="form-control"
				      	ng-model="event.data.comments"
				      	ng-disabled="!event.diff">
				      </textarea>
				    </div>
				</div>
				<div class="form-group">
				    <label for="" class="col-xs-3 control-label">Comentario para uso interno (opcional)</label>
				    <div class="col-xs-9">
				      <textarea
				      	rows="3"
				      	cols="50"
				      	class="form-control"
				      	ng-model="event.data.otherComments"
				      	ng-disabled="!event.diff">
				      </textarea>
				    </div>
				</div>
			</form>
		</div>
	
	<div class="modal-footer">
		<button
			ng-if="event.diff"
			ng-click="event.save()"
			type="button"
			class="btn btn-primary">{{(event.data.token)? 'Editar' : 'Agendar'}}
		</button>	
		<button
			type="button"
			class="btn btn-default"
			ng-click="event.close()">{{(event.data.token && event.diff)? 'Cancelar' : 'Cerrar'}}
		</button>
	</div>
</div>
